@font-face {
    font-family: 'LEMONMILK-Bold';
    src: url('LEMONMILK-Bold.woff') format('woff'),
        url('LEMONMILK-Bold.woff2') format('woff2');
}

/*maybe use more flexbox*/
/*make things less specific and check if some of these IDs are needed*/
/*NOTE ORDER CSS PROPERTIRES IN A SPECIFIC WAY*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#background { 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#130C08;
    z-index: -1;
} 

.resize-transition-stopper * {
    transition: none !important;
}

#page-content {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 47vmin;
    right: 0;
    padding-right: 2vmin;

    justify-content: center;
    align-items: center;
    overflow: auto;
    flex-direction: column;

    font-size: 4vmin;
    font-family: "Arial";
    text-align: center;
    color: white;

    z-index: 0;
}


#overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color:#000000;

    opacity: 0.0;
    transition: opacity 0.4s;
    z-index: 0;
}

/* Mobile Menu */
#mobile-navbar {
    display: flex;
    position: fixed;
    top: -25px;
    width: 100%;
    height: 100px;
    z-index: 2;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    transform: rotate(2deg);
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(255, 255, 255);
}

#mobile-nav-buttons {
    margin: 0px;
    padding: 0px;
}

#mobile-nav-buttons li { /* maybe flexbox would be better */
    display: inline-block;
    position: relative;
    top: 15px;
    margin: 0 5px 0 5px;
    padding: 0 15px 0 15px;
    font-size: 18px;
    font-family: "LEMONMILK-Bold";
    font-weight: bold;
    border-style: solid;
    border: 2px;
    border-color: black;
    line-height: 45px;
    background-color: rgb(255, 255, 0);
    color:black;
}

#mobile-nav-buttons li:hover { 
    transition: background-color 0.3s;
    background-color: rgb(170, 170, 0);
}

/* Desktop Menu */
#desktop-navbar-perspective {
    position: fixed;
    perspective: 130vh;
    perspective-origin: 100vh 50vh;
}

#desktop-navbar-container {
    top: 0px;
    left: 0px;
    margin: -8px 0 0 -8px;
    transform: rotate3d(0,1,0,70deg);
}

#desktop-navbar {
    display: flex;
    position: absolute;
    top: 1vmin;
    left: -2vmin;
    align-items: center;
    width: 40vmin;
    height: 95vh;
    background-color: #FFFF00;
    border: 2.5vh solid white;
}

#desktop-nav-buttons {
    display: grid;
    position: relative;
    height: 75%;
    grid-row-gap: 8vh;
    justify-content:space-between;
}

.desktop-nav-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    font-size: 8vmin;
    font-family: "LEMONMILK-Bold";
    font-weight: bold;
    text-align: center;

    width: 50vmin;
    background-color: black;
    color: white;
    
    transition: width 0.4s;
    z-index: auto;
}

.desktop-nav-button:hover {
    width: 64vmin; /*probably not needed */
}

.desktop-nav-button span {
    z-index: 1;
}

.desktop-nav-button a {
    color: white;
    text-decoration: none;
}

.desktop-nav-button a:hover {
    color: darkgrey;
}

/* Extra Outlines */

.desktop-nav-button::after {
    position: absolute;
    top: 0%;
    left: 0%;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 0.0vh 0px 0px 0.6vh #ffffff;
    background-color: white;
    z-index: -1;
}

#desktop-navbar::after {
    position: absolute;
    top: 0%;
    left: 0%;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 2vh #000000;
}

/* Page Specific Things */

.two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
    text-align:left;
    gap: 10px;
}

.two-col .column {
    display: flex;
    padding: 10px;

    background-color: #FFFF00;
    color: rgb(0, 0, 0);
    justify-content: left;
    align-items: center;
}

.two-col .column img {
    width: 45%;
    padding-right: 10px;
}

.two-col .column span {
    font-size: 55%;
}

.two-col .column h1 {
    font-size: 150%;
    white-space: normal;
}

/* Mobile Configuration */

@media (max-height: 360px), screen and (max-width: 720px) {
    #page-content {
        left: 0;
        right: 0;
    }

    #desktop-navbar-container {
        visibility: hidden;
    } 

    #mobile-navbar {
        visibility: visible;
    }

    .two-col {
        grid-template-columns: 1fr;
    }
}